<nav class="nav">
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="#">AboutUs</a></li>
            <li><a href="#">SignIn</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
        
    </nav>